In [25]:
import json
import pandas as pd
import numpy as np
import plotly
import sqlite3

In [26]:
conn = sqlite3.connect('jobs.db', check_same_thread=False)

In [49]:
df = pd.read_sql("SELECT * FROM waiting ORDER BY id DESC", conn)

## Below is the demo data I scraped from a job board

I used regular expression to get some of contents

- years: re.search("(minimum.*)?([0-9]+ *- *)?[0-9]+( *\+)? *year", str(line.lower()))

In [51]:
df.drop(['link','skills_count'],axis=1).head()

,id,position,company,years,skills,phd,master,sponsorinfo
0,193,Sr. Data Scientist,"Avlino, Inc.",5+ years of relevant experience to work in a f...,"hadoop, hive, r, python, java, pig, scala",1,1,without the need for visa sponsorship now or ...
1,192,Data Scientist/AI Practitioner,Avanade,5 years’ experience with one or more of follow...,"spark, r, python, excel, spss, sas",0,0,
2,191,Data Scientist,Robert Half Technology,,"sql, excel",0,0,
3,190,Research Scientist – Novel Hybrid Simulation M...,Siemens AG,"170 years, pioneering technologies and the bus...","php, matlab, r, python, java, pandas, c++",1,0,opportunities to submit information regarding ...
4,189,Data Scientist - Predictive Modeler,Predictive Modeler job,"Minimum 5+ years of experience in programming,...","sql, r, spss, sas",0,1,